﻿@using Booker.Data.Types
@model List<Meeting>

@{ 
    var meetings = Model;
}
<div class="jumbotron">
    <h1>Booker</h1>
    <p class="lead">This is a very simple application to book and manage meetings</p>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var meeting in meetings)
        {
            <div class="row">
                <h4>@Html.ActionLink(meeting.Title, "Meeting", new { Id = meeting.Id })</h4>
            </div>
        }
    </div>
</div>