﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Room booker example</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Booker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("Users", "Index", "User")</li>
                </ul>
				<ul class="nav navbar-nav navbar-right">
					@if (!Auth.IsLoggedIn)
					{
						<li>@Html.ActionLink("Login/Register", "LoginRegister", "User")</li>
					}
					@if (Auth.IsLoggedIn)
					{
						<li>@Html.ActionLink($"Hello, {Auth.AuthorizedAs.FullName}!", "Index", "User")</li>
					}
				</ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
		@if ((string)ViewData["error"] != "")
		{
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Uh Oh...</strong><p>@ViewData["error"]</p>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		}

		@if ((string)ViewData["message"] != "")
		{
			<div class="alert alert-success alert-dismissable fade show" role="alert">
				<strong>Alert! </strong><p>@ViewData["message"]</p>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		}
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 1955 at 88 mph - Booker</p>
        </footer>
    </div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
