﻿@using Booker.Data.Types
@model Booker.Data.Types.User

<div class="jumbotron">
	<h2>You're logged in as @Model.Username</h2>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-6">
		@if (Model.Id == Auth.AuthorizedAs.Id || Auth.AuthorizedAs.IsAdministrator)
		{
			<form method="post" action="updateUser">
				<div class="form-group">
					<label for="firstname">First Name</label>
					<input type="text" class="form-control" id="firstname" aria-describedby="First name..." value="@Model.FirstName" />
				</div>
				<div class="form-group">
					<label for="lastname">Last Name</label>
					<input type="text" class="form-control" id="lastname" aria-describedby="Last Name..." value="@Model.LastName" />
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" id="username" aria-describedby="Username..." value="@Model.Username" />
				</div>
				<div class="form-group">
					<label for="password">Update Password</label>
					<input type="password" class="form-control" id="password" aria-describedby="Password..." />
				</div>
				<button type="submit" class="btn btn-primary">Update details</button>
			</form>
		}
	</div>
</div>