﻿<h2>Login/Register</h2>

<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-6">
		<h5>Login</h5>
		<form method="post" action="CheckCreds">
			<input type="text" name="Username" placeholder="Username..." />
			<input type="password" name="Password" placeholder="Password..." />
			<input type="submit" value="Login" />
		</form>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-6">
		<h5>Register</h5>
		<form method="post" action="RegisterUser">
			<input type="text" name="FirstName" placeholder="First Name..." required />
			<input type="text" name="LastName" placeholder="Last Name..." required />
			<input type="text" name="Username" placeholder="Username..." required />
			<input type="password" name="Password" placeholder="Password..." required />
			<input type="submit" value="Register" />
		</form>
	</div>
</div>
