﻿@using Booker.Data.Types
@model List<Booker.Data.Types.User>

<div class="jumbotron">
	<h4>Users</h4>
	<p>Search for or view users here</p>
</div>

<input type="text" id="userSearch" placeholder="Search here for any field" />

@foreach(var user in Model)
{
	<div class="row userDetails">
		<h6 class="detailText">Username: @user.Username</h6>
		<h6 class="detailText">Full Name: @user.FullName</h6>
	</div>
}

<script>
	window.onload = function () {
		document.getElementById('userSearch').onkeyup(function () {
			var searchText = document.getElementById('userSearch').textContent;

			if (searchText !== "") {
				var userDetails = document.getElementsByClassName('detailText');
				for (var i = 0; i < userDetails.length; i++) {
					var detailText = userDetails[i].innerHTML;
					if (detailText !== searchText) {
						userDetails[i].parentElement.setAttribute('class', 'row userDetails hidden');
					} else {
						userDetails[i].parentElement.setAttribute('class', 'row userDetails');
					}
				}
			}
		})
	};
</script>